.alert-danger {
    position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    z-index:1000; 
    border-radius:0px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.form-control:focus {
    border-color: #001427;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 56, 108, 0.858);
}

.btn-outline-primary {
    color: #00386C;
    border-color:#00386C;
}

.btn-outline-primary:hover {
    border-color:#00386C;
    background-color: #00386C;
}
/*Bootstrap .navbar*/
.navbar {
  background-color: #EDECE6;
}
.navbar .navbar-brand {
  color: #fdffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #e2f3eb;
}
.navbar .navbar-text {
  color: #00386C;
}
.navbar .navbar-text a {
  color: #00386C;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #00386C; 
}
.navbar .navbar-nav .nav-link {
  color: #00386C;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #00386C;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #00386C;
  border-color: #EDECE6;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #fdffff;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #00386C;
  background-color: #EDECE6;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #1f6502;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #e2f3eb;
  background-color: #1f6502;
}
.navbar .navbar-toggler {
  border-color: #1f6502;
}
.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
  background-color: #1f6502;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  color: #fdffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #fdffff;
}
.navbar .navbar-link {
  color: #1f6502;
}
.navbar .navbar-link:hover {
  color: #e2f3eb;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fdffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e2f3eb;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e2f3eb;
    background-color: #1f6502;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fdffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e2f3eb;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e2f3eb;
    background-color: #1f6502;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fdffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e2f3eb;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e2f3eb;
    background-color: #1f6502;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fdffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e2f3eb;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e2f3eb;
    background-color: #1f6502;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #fdffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #e2f3eb;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #e2f3eb;
  background-color: #1f6502;
}
/*-----------------------------------------------------------------------*/

body {
    background-color: #EDECE6;
}