<div class="modal fade" id="add-item" tabindex="-1" aria-labelledby="add-item-label" aria-hidden="true" dats-bs-focus="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="add-item-label">Добавление позиции</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'storage:add-item-in-release' id %}" method="POST" class="form">
          <div class="modal-body">
            {% csrf_token %}
            <!--<div class="form-floating mb-3">
              {{ add_item_in_release_form.item }}
              <label for="short_number">Позиция</label>
            </div>-->

            <div class="mb-3">
              <label class="form-label">Позиция</label>
              <input class="form-select" placeholder="--- Наименование ---" name="item" type="text" list="items">
              <datalist id="items">
                {% for i in add_item_in_release_form.fields.item.queryset %}
                  <option value="{{ i.id }}">{{ i.item.manufacturer.name }} {{ i.item.article }} {{ i.contract }}</option>
                {% endfor %}
              </datalist>
            </div>
            <div class="form-floating mb-3">
              {{ add_item_in_release_form.count }}
              <label for="full_number">Кол-во</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-success">Добавить</button>
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Отменить</button>
          </div>
        </form>
      </div>
    </div>
  </div>