<div class="modal fade" id="add-item" tabindex="-1" aria-labelledby="add-item-label" aria-hidden="true"
  dats-bs-focus="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-item-label">Добавление позиции</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'storage:add-item-in-release' id %}" method="POST" class="form">
        <div class="modal-body">
          {% csrf_token %}
          <div class="input-group form-floating mb-3">
            <input class="form-control" id="item-datalist" placeholder="Позиция" name="item"
              type="text" list="items" autocomplete="off">
            <button class="btn btn-outline-secondary" type="button" id="clear-input" title="Очистить">
              <i class="fa fa-eraser"></i>
            </button>
            <datalist id="items">
              {% for i in add_item_in_release_form.fields.item.queryset %}
                <option data-value="{{ i.id }}" value="{{ i.item.manufacturer.name }} {{ i.item.article }} {{ i.contract }}"></option>
              {% endfor %}
            </datalist>
            <label for="item-datalist">Позиция</label>
          </div>
          <div class="form-floating mb-3">
            {{ add_item_in_release_form.count }}
            <label for="count">Кол-во</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-success">Добавить</button>
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Отменить</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $('.form').submit(function (e) {
    var value = $('#item-datalist').val();
    if (value == '') {
      e.preventDefault();
      $('#item-datalist').css('border-color', 'red');
    } else {
      id = $('#items [value="' + value + '"]').data('value');
      if (id != null) {
        $('#item-datalist').val(id);
      } else {
        e.preventDefault();
      }
    }
    //$('#item-datalist').val($('#items [value="' + value + '"]').data('value'));
  })
</script>