<div class="modal fade" id="add" tabindex="-1" aria-labelledby="add-supply-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-supply-label">Добавление поставки</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'storage:add-supply' %}" method="POST" class="form">
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-floating mb-3">
            {{ form.date }}
            <label for="manufacturer_name">Дата поставки</label>
          </div>
          <div class="form-floating mb-3">
            {{ form.contract }}
            <label for="manufacturer_name">Договор</label>
          </div>
          <div class="form-floating mb-3">
            {{ form.description }}
            <label for="manufacturer_name">Описание</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-success">Добавить</button>
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Отменить</button>
        </div>
      </form>
    </div>
  </div>
</div>