<div class="modal fade" id="add" tabindex="-1" aria-labelledby="add-item-label" aria-hidden="true"
  dats-bs-focus="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-item-label">Добавление позиции</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'storage:add-item-in-release' release_pk %}" method="POST" class="form" novalidate>
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-floating w-100 mb-3">
            {{ form.contract }}
            <label for="count">Договор</label>
          </div>
          <div class="input-group flex-nowrap mb-3">
            <div class="form-floating w-100">
              <input class="form-control" id="item-datalist" placeholder="Позиция" name="item"
                type="text" list="items" autocomplete="off">
              <datalist id="items">
                {% for i in form.fields.item.queryset %}
                  <option data-value="{{ i.id }}" data-count="{{ i.count }}" data-contract="{{ i.contract }}" value="{{ i.manufacturer_name|default_if_none:'' }} {{ i.item_article }} {{ i.contract }} {{ i.item_description }}"></option>
                {% endfor %}
              </datalist>
              <label for="item-datalist">Позиция</label>
            </div>
            <button class="btn btn-outline-secondary" type="button" id="clear-input" title="Очистить">
              <i class="fa fa-eraser"></i>
            </button>
          </div>
          <div class="input-group flex-nowrap mb-3">
            <div class="form-floating w-100">
              {{ form.count }}
              <label for="count">Кол-во</label>
            </div>
            <span class="input-group-text w-25" id="count-label" title="Максимальное кол-во"></span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-success">Добавить</button>
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Отменить</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var datalistInput = document.getElementById('item-datalist');
    var datalistPopoverEmpty = new bootstrap.Popover(datalistInput, {
      content: 'Поле не должно быть пустым',
      trigger: 'manual'
    });
    var datalistPopoverError = new bootstrap.Popover(datalistInput, {
      content: 'Не совпадает ни содним наименованием',
      trigger: 'manual'
    });
    var countInput = document.getElementById('count');
    var max_count = 0;
    var countPopoverWrongNumber = new bootstrap.Popover(countInput, {
      content: 'Введите целое, положительное число, больше 0',
      trigger: 'manual'
    });
    var countPopoverExcess = new bootstrap.Popover(countInput, {
      content: 'Превышает максимальное кол-во',
      trigger: 'manual'
    });
    $('#clear-input').click(function() {
      $('#item-datalist').val('');
      $('#count-label').html('');
    });
    $('#contract').on('change', function() {
	    var opt = $(this).find('option:selected');
      console.log(opt.text());
	    $('#items option').prop('disabled', false);
      $('#item-datalist').val('');
      $('#count-label').html('');
	    if(opt.length > 0 && opt.text() != '---------') {
		    $('#items option').prop('disabled', true);
		    $('#items option[data-contract="'+opt.text()+'"]').prop('disabled', false);
	    }
    });
    $('#item-datalist').click(function() {
      $(this).css('border-color', '#001427');
      datalistPopoverEmpty.hide();
      datalistPopoverError.hide();
    })
    $('#count').click(function() {
      $(this).css('border-color', '#001427');
      countPopoverWrongNumber.hide();
      countPopoverExcess.hide();
    })
    $('#item-datalist').on('input', function () {
    var val = this.value;
    if($('#items option').filter(function() {
        return this.value.toUpperCase() === val.toUpperCase();        
    }).length) {
      max_count = $('#items [value="' + val.replace(/"/g, '\\"') + '"]').data('count');
      $('#count-label').html('max=' + max_count);
    } else {
      $('#count-label').html('');
    }
  })
  $('.form').submit(function (e) {
    var datalist_value = $('#item-datalist').val();
    var count_value = $('#count').val();
    var datalist_valid = false;
    var count_valid = false;
    if (datalist_value == '') {
      e.preventDefault();
      $('#item-datalist').css('border-color', '#F24236');
      datalistPopoverEmpty.show();
    } else {
      var id = $('#items [value="' + datalist_value.replace(/"/g, '\\"') + '"]').data('value');
      if (id != null) {
        datalist_valid = true;
      } else {
        e.preventDefault();
        $('#item-datalist').css('border-color', '#F24236');
        datalistPopoverError.show();
      }
    }
    if (Math.floor(count_value) == count_value && $.isNumeric(count_value) && count_value > 0) {
      if (count_value > max_count) {
        e.preventDefault();
        countPopoverExcess.show();
      } else {
        count_valid = true;
      }
    } else {
      e.preventDefault();
      $('#count').css('border-color', '#F24236');
      countPopoverWrongNumber.show();
    }
    if (datalist_valid === true && count_valid === true) {
      $('#item-datalist').val(id);
    }
  })
})
</script>