{% extends "main.html" %}

{% block title %} Фирма {% endblock title %}

{% block table_title %}
<span class="align-middle">
Категория
</span>
<span class="align-middle float-end">
  <button type="button" class="btn btn-outline-primary action-button"
    data-action="add"
    data-url="{% url 'storage:add-company' %}"
    data-target="company"
    title="Добавить фирму">
    <i class="fa fa-plus"></i>
    Добавить
  </button>
</span>
{% endblock table_title %}

{% block content %}
<table class="table table-borderless table-striped rounded-3 overflow-hidden">
  <thead class="custom-header">
    <tr>
      <th>Наименование</th>
      <th class="text-center" style="width: 10%;">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for company in companies %}
    <tr>
      <td class="align-middle">{{ company.name }}</td>
      <td class="text-center">
        <a href="#" class="btn btn-outline-success btn-circle action-button text-center"
          data-action="edit"
          data-url="{% url 'storage:edit-company' company.pk %}"
          data-target="company"
          title="Изменить компанию">
          <i class="fa fa-edit"></i>
        </a>
        <a href="#" class="btn btn-outline-danger btn-circle action-button text-center"
          data-action="delete"
          data-url="{% url 'storage:delete-company' company.pk %}"
          data-target="company"
          title="Удалить компанию">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}

{% include 'pagination.html' %}