{% extends "main.html" %}

{% block title %} Договоры {% endblock title %}

{% block buttons %}
<button type="button" class="btn btn-outline-primary me-1 add-contract" title="Добавить">
  <i class="fa fa-plus"></i>
</button>
{% endblock buttons %}

{% block content %}
{% if add_category_form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ add_item_form.errors }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Короткий номер</th>
      <th>Полный номер</th>
      <th class="text-center">Дата подписания</th>
      <th>Описание</th>
      <th class="text-center" style="width: 10%;">Изменить</th>
      <th class="text-center" style="width: 10%;">Удалить</th>
    </tr>
  </thead>
  <tbody>
    {% for contract in contracts %}
    <tr>
      <td class="align-middle">{{ contract.short_number }}</td>
      <td class="align-middle">{{ contract.full_number }}</td>
      <td class="align-middle text-center">{{ contract.date|date:'d.m.Y'|default_if_none:'' }}</td>
      <td class="align-middle">{{ contract.description }}</td>
      <td class="align-middle text-center">
        <a class="btn btn-outline-success text-center edit-contract" title="Изменить" data-pk="{{ contract.pk }}">
          <i class="fa fa-edit"></i>
        </a>
      </td>
      <td class="align-middle text-center">
        <a class="btn btn-outline-success text-center delete-contract" title="Удалить" data-pk="{{ contract.pk }}"
          data-name="{{ contract.short_number }}">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>
  $('document').ready(function () {
    $('.add-contract').on('click', function (e) {
      e.preventDefault();
      $.ajax({
        url: '/contracts/add/',
        type: 'GET',
        success: function (data) {
          console.log(data);
          $('.add-modal').html(data);
        }
      }).done(function () {
        $('#add-contract').modal('show');
      });
    });
    $('.edit-contract').on('click', function (e) {
      e.preventDefault();
      pk = $(this).data('pk');
      console.log(pk);
      $.ajax({
        url: '/contracts/edit/' + pk + '/',
        type: 'GET',
        success: function (data) {
          console.log(data);
          $('.edit-modal').html(data);
        }
      }).done(function () {
        $('#edit-contract').modal('show');
      });
    });
    $('.delete-contract').on('click', function (e) {
      e.preventDefault();
      pk = $(this).data('pk');
      name = $(this).data('name');
      console.log(pk);
      url = '/contracts/delete/' + pk + '/';
      console.log('url for delete contract = ' + url);
      $('#delete-contract .form').attr('action', url);
      console.log('delete form action changed')
      $('#delete-contract .message').html('Удалить договор "' + name + '"?');
      $('#delete-contract').modal('show');
    });
  });
</script>
<div class="add-modal"></div>
<div class="edit-modal"></div>
{% include 'delete_contract.html' %}
{% endblock content %}