<div class="modal fade" id='delete' tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="" method="POST" class="form">
        <div class="modal-header bg-danger text-white">
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <div class="message">
            Удалить <b>{{ object }}</b>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-danger">Удалить</button>
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Отменить</button>
        </div>
      </form>
    </div>
  </div>
</div>