{% extends "main.html" %}

{% block title %} Выдача {% endblock title %}

{% block table_title %}
<span class="align-middle">
{% if release.contract.short_number == "Без договора" %}
Выдача от {{release.date|date:'d.m.Y'}} <b>{{release.contract}}</b>
{% else %}
Выдача от {{release.date|date:'d.m.Y'}} по договору <b>№{{release.contract}}</b> {{release.description}}
{% endif %}
</span>
<span class="align-middle float-end">
  <button type="button"
    class="btn btn-outline-primary btn-circle action-button text-center"
    data-action="add"
    data-url="{% url 'storage:add-item-in-release' release.pk %}"
    data-target="iteminrelease"
    title="Добавить позицию">
    <i class="fa fa-plus"></i>
  </button>
</span>
{% endblock table_title %}

{% block content %}
<table class="table table-borderless table-striped rounded-3 overflow-hidden">
  <thead class="custom-header">
    <tr>
      <th width="57%">Наименование</th>
      <th class="text-center" width="15%">Договор</th>
      <th class="text-center" width="13%">Ед. изм.</th>
      <th class="text-center" width="7%">Кол-во</th>
      <th class="text-center" width="8%">Удалить</th>
    </tr>
  </thead>
  <tbody>
    {% for i in items %}
    <tr>
      <td class="align-middle">{{ i.item.item }}</td>
      <td class="align-middle text-center" title="{{ i.item.contract }}">{{ i.item.contract.short_number }}</td>
      <td class="align-middle text-center">{{ i.item.item.unit }}</td>
      <td class="align-middle text-center">{{ i.count }}</td>
      <td class="align-middle text-center">
        <a href="#" class="btn btn-outline-danger btn-circle action-button text-center"
          data-action="delete"
          data-url="{% url 'storage:delete-item-from-release' i.pk %}"
          data-target="iteminrelease"
          title="Удалить позицию">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}