{% extends "main.html" %}

{% block title %} Поставки {% endblock title %}

{% block table_title %}
<span class="align-middle">
{% if supply.contract.short_number == "Без договора" %}
Поставка от {{supply.date|date:'d.m.Y'}} <b>{{supply.contract}}</b>
{% else %}
Поставка от {{supply.date|date:'d.m.Y'}} по договору <b>№{{supply.contract.short_number}}</b> {{supply.description}}
{% endif %}
</span>
<span class="align-middle float-end">
  <button type="button"
    class="btn btn-outline-primary btn-circle action-button text-center"
    data-action="add"
    data-url="{% url 'storage:add-item-in-supply' supply.pk %}"
    data-target="iteminsupply"
    title="Добавить позицию">
    <i class="fa fa-plus"></i>
  </button>
</span>
{% endblock table_title %}

{% block content %}
<table class="table table-borderless table-striped rounded-3 overflow-hidden">
  <thead class="custom-header">
    <tr>
      <th width="70%">Наименование</th>
      <th class="text-center" width="10%">Ед. изм.</th>
      <th class="text-center" width="10%">Кол-во</th>
      <th class="text-center" width="10%">Удалить</th>
    </tr>
  </thead>
  <tbody>
    {% for i in items %}
    <tr {% if i.pk == current_id %}id="current-row"{% endif %}>
      <td class="align-middle text-truncate">{{ i.item }}</td>
      <td class="align-middle text-center">{{ i.item.unit }}</td>
      <td class="align-middle text-center">{{ i.count }}</td>
      <td class="text-center">
        <a href="#" class="btn btn-outline-danger btn-circle action-button text-center"
          data-action="delete"
          data-url="{% url 'storage:delete-item-from-supply' i.pk %}"
          data-target="iteminsupply"
          title="Удалить позицию">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'pagination.html' %}

{% endblock content %}