<div class="modal fade" id="edit-release" tabindex="-1" aria-labelledby="edit-release-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-release-label">Добавление выдачи</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'storage:edit-release' id %}" method="POST" class="form">
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-floating mb-3">
            {{ edit_release_form.date }}
            <label for="release_name">Дата</label>
          </div>
          <div class="form-floating mb-3">
            {{ edit_release_form.contract }}
            <label for="release_contract">Договор</label>
          </div>
          <div class="form-floating mb-3">
            {{ edit_release_form.staff }}
            <label for="release_staff">ФИО</label>
          </div>
          <div class="form-floating mb-3">
            {{ edit_release_form.company }}
            <label for="release_company">Фирма</label>
          </div>
          <div class="form-floating mb-3">
            {{ edit_release_form.description }}
            <label for="release_description">Описание</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-success">Изменить</button>
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Отменить</button>
        </div>
      </form>
    </div>
  </div>
</div>