<div class="modal fade" id="edit-contract" tabindex="-1" aria-labelledby="edit-contract-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-contract-label">Добавление договора</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'storage:edit-contract' id %}" method="POST" class="form">
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-floating mb-3">
            {{ edit_contract_form.short_number }}
            <label for="short_number">Сокращённый номер</label>
          </div>
          <div class="form-floating mb-3">
            {{ edit_contract_form.full_number }}
            <label for="full_number">Полный номер</label>
          </div>
          <div class="form-floating mb-3">
            {{ edit_contract_form.date }}
            <label for="date">Дата подписания</label>
          </div>
          <div class="form-floating mb-3">
            {{ edit_contract_form.description }}
            <label for="short_number">Описание</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-success">Добавить</button>
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Отменить</button>
        </div>
      </form>
    </div>
  </div>
</div>