<div class="modal fade" id="edit-supply" tabindex="-1" aria-labelledby="edit-supply-label"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-supply-label">Редактирование поставки</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'storage:edit-supply' id %}" method="POST" class="form">
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-floating mb-3">
            {{ edit_supply_form.date }}
            <label for="category-name">Дата</label>
          </div>
          <div class="form-floating mb-3">
            {{ edit_supply_form.contract }}
            <label for="category-name">Договор</label>
          </div>
          <div class="form-floating mb-3">
            {{ edit_supply_form.description }}
            <label for="category-name">Описание</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Изменить</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
        </div>
      </form>
    </div>
  </div>
</div>