<div class="modal fade" id="edit-item" tabindex="-1" aria-labelledby="edit-item-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-item-label">Редактирование позиции</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'storage:edit-item' id %}" method="POST" class="form">
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-floating mb-3">
            <input class="form-control" id="manufacturer-datalist" placeholder="Производитель" name="manufacturer"
              type="text" list="manufacturers">
            <datalist id="manufacturers">
              {% for i in edit_item_form.fields.manufacturer.queryset %}
                <option data-value="{{ i.id }}" value="{{ i.name }}"></option>
              {% endfor %}
            </datalist>
            <label for="manufacturer-datalist">Производитель</label>
          </div>
          <div class="form-floating mb-3">
            {{ edit_item_form.article }}
            <label for="article">Артикул</label>
          </div>
          <div class="form-floating mb-3">
            {{ edit_item_form.category }}
            <label for="category_name">Категория</label>
          </div>
          <div class="form-floating mb-3">
            {{ edit_item_form.description }}
            <label for="description">Описание</label>
          </div>
          <div class="form-floating mb-3">
            {{ edit_item_form.unit }}
            <label for="unit_name">Ед. Изм.</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-success">Изменить</button>
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Отменить</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $('document').ready(function () {
    var id = "{{ edit_item_form.manufacturer.value }}";
    var value = $(`[data-value="${id}"]`).val();
    $('#manufacturer-datalist').val(value);
  });
  $('.form').submit(function () {
    var value = $('#manufacturer-datalist').val();
    $('#manufacturer-datalist').val($('#manufacturers [value="' + value + '"]').data('value'));
  })
  </script>