{% extends "main.html" %}

{% block title %} Позиция {% endblock title %}

{% block table_title %}
<span class="align-middle">
Позиция
</span>
<span class="align-middle float-end">
  <button type="button"
    class="btn btn-outline-primary btn-circle action-button text-center"
    data-action="add"
    data-url="{% url 'storage:add-item' %}"
    data-target="item"
    title="Добавить">
    <i class="fa fa-plus"></i>
  </button>
</span>
{% endblock table_title %}

{% block filters %}
<form action="{%url 'storage:items' %}" method="GET" class="form">
  {% csrf_token %}
  <div class="form-floating mb-3 mt-3">
    {{ filter_form.text_filter }}
    <label for="text_filter">Наименование</label>
  </div>
  <div class="form-floating mb-3">
    {{ filter_form.category }}
    <label for="text_filter">Категория</label>
  </div>
  <button type="submit" class="btn btn-outline-primary" title="Применить фильтры">Применить</button>
</form>
{% endblock filters %}

{% block content %}
{% if add_category_form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ add_item_form.errors }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<table class="table table-borderless table-striped rounded-3 overflow-hidden">
  <thead class="custom-header">
    <tr>
      <th width="65%">Наименование</th>
      <th class="text-center" width="15%">Категория</th>
      <th class="text-center" width="10%">Ед. изм.</th>
      <th class="text-center" width="10%">Изменить</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr {% if item.id == current_id %}id='current-row'{% endif %}>
      <td class="align-middle text-truncate">{{ item.manufacturer|default_if_none:'' }} {{ item.article }} {{ item.description }}</td>
      <td class="text-center align-middle">{{ item.category }}</td>
      <td class="text-center align-middle">{{ item.unit }}</td>
      <td class="text-center">
        <a href="#" class="btn btn-outline-success btn-circle action-button text-center"
          data-action="edit"
          data-url="{% url 'storage:edit-item' item.pk %}"
          data-target="item"
          title="Изменить позицию">
          <i class="fa fa-edit"></i>
        </a>
        <a href="#" class="btn btn-outline-danger btn-circle action-button text-center"
          data-action="delete"
          data-url="{% url 'storage:delete-item' item.pk %}"
          data-target="item"
          title="Удалить позиция">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'pagination.html' %}

{% endblock content %}