{% extends "main.html" %}

{% block title %} Позиция {% endblock title %}

{% block buttons %}
<button type="button" class="btn btn-outline-primary me-1 add-item" style="width: 40px;" title="Добавить">
  <i class="fa fa-plus"></i>
</button>
{% endblock buttons %}

{% block content %}
{% if add_category_form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ add_item_form.errors }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Наименование</th>
      <th class="text-center">Категория</th>
      <th class="text-center">Ед. изм.</th>
      <th class="text-center" style="width: 10%;">Изменить</th>
      <th class="text-center" style="width: 10%;">Удалить</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td class="align-middle">{{ item.manufacturer }} {{ item.article }} {{ item.description }}</td>
      <td class="text-center align-middle">{{ item.category }}</td>
      <td class="text-center align-middle">{{ item.unit }}</td>
      <td class="text-center align-middle">
        <a class="btn btn-outline-success text-center edit-item" title="Изменить" style="width: 40px;" data-pk="{{ item.pk }}">
          <i class="fa fa-edit"></i>
        </a>
      </td>
      <td class="text-center">
        <a class="btn btn-outline-success text-center delete-item" title="Удалить" style="width: 40px;" data-pk="{{ item.pk }}"
          data-name="{{ item.manufacturer }} {{ item.article }}">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!--Pagination-->
{% if items.has_other_pages %}
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if items.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}">Пред.</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Пред.</a></li>
      {% endif %}
      {% for p in items.paginator.page_range %}
        {% if items.number == p %}
          <li class="page-item active"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}
      {% endfor %}
      {% if items.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}">След.</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">След.</a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

<script>
  $('document').ready(function () {
    $('.add-item').on('click', function (e) {
      e.preventDefault();
      $.ajax({
        url: '/items/add/',
        type: 'GET',
        success: function (data) {
          console.log(data);
          $('.add-modal').html(data);
        }
      }).done(function () {
        $('#add-item').modal('show');
      });
    });
    $('.edit-item').on('click', function (e) {
      e.preventDefault();
      pk = $(this).data('pk');
      console.log(pk);
      $.ajax({
        url: '/items/edit/' + pk + '/',
        type: 'GET',
        success: function (data) {
          console.log(data);
          $('.edit-modal').html(data);
        }
      }).done(function () {
        $('#edit-item').modal('show');
      });
    });
    $('.delete-item').on('click', function (e) {
      e.preventDefault();
      pk = $(this).data('pk');
      name = $(this).data('name');
      console.log(pk);
      url = '/items/delete/' + pk + '/';
      console.log('url for delete item = ' + url);
      $('#delete-item .form').attr('action', url);
      console.log('delete form action changed')
      $('#delete-item .message').html('Удалить позицию "' + name + '"?');
      $('#delete-item').modal('show');
    });
  });
</script>
<div class="add-modal"></div>  
<div class="edit-modal"></div>
{% include 'delete_item.html' %}
{% endblock content %}