{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/south-street/jquery-ui.css"></link>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"
    integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>

  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% bootstrap_messages %}

  <link rel="stylesheet" href="{% static "css/styles.css" %}" />

</head>
<body>
  <div class="container-md">
    <nav class="navbar navbar-expand-lg mb-3 border border-primary border-1 rounded">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a {% block storage_link_active %} class="nav-link active" {% endblock storage_link_active %} aria-current="page" href="/storage/">СКЛАД</a>
            </li>
            <li class="nav-item">
              <a {% block income_link_active %} class="nav-link" {% endblock income_link_active %} href="/supplies/">ПОСТАВКИ</a>
            </li>
            <li class="nav-item">
              <a {% block outcome_link_active %} class="nav-link" {% endblock outcome_link_active %} href="#">ВЫДАЧА</a>
            </li>
            <li class="nav-item dropdown">
              <a {% block dictionary_link_active %} class="nav-link dropdown-toggle" {% endblock dictionary_link_active %} href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                СПРАВОЧНИКИ
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/manufacturers/">Производители</a></li>
                <li><a class="dropdown-item" href="/units/">Ед. изм.</a></li>
                <li><a class="dropdown-item" href="/categories/">Категории</a></li>
                <li><a class="dropdown-item" href="/items/">Позиция</a></li>
                <li><a class="dropdown-item" href="/contracts/">Договор</a></li>
                <li><a class="dropdown-item" href="/staff/">Персонал</a></li>
              </ul>
            </li>
          </ul>
        </div>      
        <div class="d-flex">
          {% block buttons %}
          {% endblock buttons %}
          <div class="input-group">
            <label class="input-group-text" for="user-info" title="Имя пользователя">{{ user.get_username }}</label>
            <a href="/logout/">
            <button class="btn btn-outline-danger" type="button" title="Выход">
              <i class="fa fa-sign-out"></i>
            </button>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div>
    </div>
    <div class="collapse" id="filters">
      {% block filters %}
      {% endblock filters %}
    </div>
    <div>
      {% block content %}
      {% endblock content %}

      {% include "add_manufacturer.html" %}
      {% include "add_unit.html" %}
      {% include "add_category.html" %}
      {% include "add_item.html" %}
      {% include "add_contract.html" %}
      
    </div>
  </div>
</body>
</html>