{% extends "main.html" %}

{% block title %} Производитель {% endblock title %}

{% block filters %}
<form action="{%url 'storage:manufacturers' %}" method="GET" class="form">
  {% csrf_token %}
  <div class="form-floating mb-3 mt-3">
    {{ filter_form.text_filter }}
    <label for="text_filter">Наименование</label>
  </div>
  <button type="submit" class="btn btn-outline-primary" title="Применить фильтры">Применить</button>
</form>
{% endblock filters %}

{% block table_title %}
<span class="align-middle">
Производитель
</span>
<span class="align-middle float-end">
  <button type="button" class="btn btn-outline-primary btn-circle action-button text-center"
    data-action="add"
    data-url="{% url 'storage:add-manufacturer' %}"
    data-target="manufacturer"
    title="Добавить производителя">
    <i class="fa fa-plus"></i>
  </button>
</span>
{% endblock table_title %}

{% block content %}
<table class="table table-borderless table-striped rounded-3 overflow-hidden">
  <thead class="custom-header">
    <tr>
      <th width="90%">Наименование</th>
      <th class="text-center" width="10%">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for manufacturer in manufacturers %}
    <tr>
      <td class="align-middle">{{ manufacturer.name }}</td>
      <td class="text-center align-middle">
        <a href="#" class="btn btn-outline-success btn-circle action-button text-center"
          data-action="edit"
          data-url="{% url 'storage:edit-manufacturer' manufacturer.pk %}"
          data-target="manufacturer"
          title="Изменить производителя">
          <i class="fa fa-edit"></i>
        </a>
        <a href="#" class="btn btn-outline-danger btn-circle action-button text-center"
          data-action="delete"
          data-url="{% url 'storage:delete-manufacturer' manufacturer.pk %}"
          data-target="manufacturer"
          title="Удалить производителя">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'pagination.html' %}

{% endblock content %}