{% extends "main.html" %}

{% block title %} Выдача {% endblock title %}

{% block table_title %}
<span class="align-middle">
Выдача
</span>
<span class="align-middle float-end">
  <button type="button" class="btn btn-outline-primary btn-circle action-button text-center"
    data-action="add"
    data-url="{% url 'storage:add-release' %}"
    data-target="release"
    title="Добавить выдачу">
    <i class="fa fa-plus"></i>
  </button>
</span>
{% endblock table_title %}

{% block content %}
<table class="table table-borderless table-striped rounded-3 overflow-hidden">
  <thead class="custom-header">
    <tr>
      <th width="10%">Дата</th>
      <th width="15%">Договор</th>
      <th width="30%">ФИО, фирма</th>
      <th width="30%">Описание</th>
      <th width="15%" class="text-center">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for release in releases %}
    <tr>
      <td class="align-middle">{{ release.date|date:'d.m.Y' }}</td>
      <td class="align-middle" title="{{ release.contract }}">{{ release.contract.short_number }}</td>
      <td class="align-middle">{{ release.staff | default_if_none:'' }} {{ release.company }}</td>
      <td class="align-middle">{{ release.description }}</td>
      <td class="text-center">
        <a class="btn btn-outline-primary btn-circle text-center open-supply" 
          title="Подробно"
          href="{% url 'storage:details-release' release.pk %}">
          <i class="fa fa-search"></i>
        </a>
        <a href="#" class="btn btn-outline-success btn-circle action-button text-center"
          data-action="edit"
          data-url="{% url 'storage:edit-release' release.pk %}"
          data-target="release"
          title="Изменить выдачу">
          <i class="fa fa-edit"></i>
        </a>
        <a href="#" class="btn btn-outline-danger btn-circle action-button text-center"
          data-action="delete"
          data-url="{% url 'storage:delete-release' release.pk %}"
          data-target="release"
          title="Удалить выдачу">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'pagination.html' %}

{% endblock content %}