{% extends "main.html" %}

{% block title %} Склад {% endblock title %}

{% block table_title %}
Склад - общий
{% endblock table_title %}

{% block buttons %}
<button class="btn btn-outline-primary me-1" type="button" style="width: 40px; height: 40px; font-size: 17px;" data-bs-toggle="collapse"
  data-bs-target="#filters" aria-expanded="false" aria-controls="filters" title="Фильтры">
  <i class="fa fa-filter"></i>
</button>
{% endblock buttons %}

{% block filters %}
<form action="{%url 'storage:storage' %}" method="GET" class="form" id="filter-form">
  {% csrf_token %}
  <div class="form-floating mb-3 mt-3">
    {{ filter_form.text_filter }}
    <label for="text_filter">Наименование</label>
  </div>
  <div class="form-floating mb-3">
    {{ filter_form.category }}
    <label for="text_filter">Категория</label>
  </div>
  <button type="submit"
    class="btn btn-outline-primary filter-ok-button"
    title="Применить фильтры">
    Применить
  </button>
  <button type="button"
    class="btn btn-outline-primary filter-clear-button"
    title="Очистить фильтры">
    Очистить
  </button>
</form>
{% endblock filters %}

{% block content %}
<div class="filter">
</div>
<table class="table table-borderless table-striped rounded-3 overflow-hidden">
  <thead class="custom-header align-middle">
    <tr>
      <th width="70%">Наименование</th>
      <th class="text-center" width="16%">Категория</th>
      <th class="text-center" width="7%">Ед. изм.</th>
      <th class="text-center" width="7%">Кол-во</th>
    </tr>
  </thead>
  <tbody>
    {% for item in page_obj %}
    <tr>
      <td class="align-middle text-truncate" title="{{item.full_item_name}}">{{item.full_item_name}}</td>
      <td class="text-center align-middle">{{item.category}}</td>
      <td class="text-center align-middle">{{item.unit}}</td>
      <td class="text-center align-middle">{{item.total_count}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'pagination.html' %}

<script>
$(document).ready(function() {
  // function for clear all filters and submit
  $('.filter-clear-button').click(function() {
    var form = $('#filter-form');
    
    // clear all fields
    form.find('input, textarea, select').val('');
    
    // submit with empty values
    form.submit();
  });
});
</script>

{% endblock content %}