{% extends "main.html" %}

{% block title %} По договорам {% endblock title %}

{% block table_title %}
Склад - по договорам
{% endblock table_title %}

{% block buttons %}
{% comment %}
<a class="btn btn-outline-success text-center me-1" style="width: 40px;" href="{% url 'storage:storage-export' %}?by_contract=1{% for fil, fil_value in filters.items %}&{{fil}}={{fil_value}}{% endfor %}"
  title="Экспорт в Excel">
  <i class="fa fa-file-excel-o"></i>
</a>
{% endcomment %}
<button class="btn btn-outline-primary me-1" type="button" style="width: 40px;" data-bs-toggle="collapse"
  data-bs-target="#filters" aria-expanded="false" aria-controls="filters" title="Фильтры">
  <i class="fa fa-filter"></i>
</button>
{% endblock buttons %}

{% block filters %}
<form action="{%url 'storage:storage_with_contract' %}" method="GET" class="form">
  {% csrf_token %}
  <div class="form-floating mb-3">
    {{ filter_form.text_filter }}
    <label for="text_filter">Наименование</label>
  </div>
  <div class="form-floating mb-3">
    {{ filter_form.category }}
    <label for="category">Категория</label>
  </div>
  <div class="form-floating mb-3">
    {{ filter_form.contract }}
    <label for="contract">Договор</label>
  </div>
  <button type="submit" class="btn btn-outline-primary" title="Применить фильтры">Применить</button>
</form>
{% endblock filters %}

{% block content %}
<div class="filter">
</div>
<table class="table table-borderless table-striped rounded-3 overflow-hidden">
  <thead class="custom-header">
    <tr>
      <th width="60%">Наименование</th>
      <th class="text-center" width="16%">Категория</th>
      <th class="text-center" width="10%">Договор</th>
      <th class="text-center" width="7%">Ед. изм.</th>
      <th class="text-center" width="7%">Кол-во</th>
    </tr>
  </thead>
  <tbody>
    {% for item in storage %}
    <tr>
      <td class="align-middle text-truncate" title="{{item.full_item_name}}">{{item.full_item_name}}</td>
      <td class="text-center align-middle">{{item.category}}</td>
      <td class="text-center align-middle">{{item.contract_number}}</td>
      <td class="text-center align-middle">{{item.unit}}</td>
      <td class="text-center align-middle">{{item.count}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'pagination.html' %}

{% endblock content %}