{% extends "main.html" %}

{% block title %} Поставки {% endblock title %}

{% block table_title %}
<span class="align-middle">
Поставки
</span>
<span class="align-middle float-end">
  <button type="button"
    class="btn btn-outline-primary btn-circle action-button text-center"
    data-action="add"
    data-url="{% url 'storage:add-supply' %}"
    data-target="supply"
    title="Добавить">
    <i class="fa fa-plus"></i>
  </button>
</span>
{% endblock table_title %}

{% block filters %}
<form action="{%url 'storage:supplies' %}" method="GET" class="form" id="filter-form">
  {% csrf_token %}
  <div class="form-floating filter-input mb-3 mt-3">
    {{ filter_form.start_date }}
    <label for="start_date">С</label>
  </div>
  <div class="form-floating filter-input mb-3 mt-3">
    {{ filter_form.end_date }}
    <label for="end_date">По</label>
  </div>
  <div class="form-floating filter-input mb-3">
    {{ filter_form.contract }}
    <label for="contract">Договор</label>
  </div>
  <button type="submit"
    class="btn btn-outline-primary filter-ok-button"
    title="Применить фильтры">
    Применить
  </button>
  <button type="button"
    class="btn btn-outline-primary filter-clear-button"
    title="Очистить фильтры">
    Очистить
  </button>
</form>
{% endblock filters %}

{% block content %}
<table class="table table-borderless table-striped rounded-3 overflow-hidden">
  <thead class="custom-header">
    <tr>
      <th width="10%">Дата</th>
      <th width="15%">Договор</th>
      <th width="60%">Описание</th>
      <th class="text-center" width="15%">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for supply in supplies %}
    <tr>
      <td class="align-middle">{{ supply.date|date:'d.m.Y' }}</td>
      <td class="align-middle" title="{{ supply.contract }}">{{ supply.contract.short_number }}</td>
      <td class="align-middle">{{ supply.description }}</td>
      <td class="text-center">
        <a class="btn btn-outline-primary btn-circle text-center open-supply" 
          title="Подробно"
          href="{% url 'storage:details-supply' supply.pk %}">
          <i class="fa fa-search"></i>
        </a>
        <a href="#" class="btn btn-outline-success btn-circle action-button text-center"
          data-action="edit"
          data-url="{% url 'storage:edit-supply' supply.pk %}"
          data-target="unit"
          title="Изменить поставку">
          <i class="fa fa-edit"></i>
        </a>
        <a href="#" class="btn btn-outline-danger btn-circle action-button text-center"
          data-action="delete"
          data-url="{% url 'storage:delete-supply' supply.pk %}"
          data-target="supply"
          title="Удалить поставку">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'pagination.html' %}

<script>
$(document).ready(function() {
  // function for clear all filters and submit
  $('.filter-clear-button').click(function() {
    var form = $('#filter-form');
    
    // clear all fields
    form.find('input, textarea, select').val('');
    
    // submit with empty values
    form.submit();
  });
});
</script>

{% endblock content %}